:root {
  --primary: white;
  --secondary: rgb(3, 24, 31);
  --thirdary: gray;
  --bd-radius: 12px;
  --success-bg: rgba(20, 83, 1, 0.78);
  --danger-bg: rgba(238, 69, 69, 0.78);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--primary);
}
