@import './constants.scss';

.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.side {
    width: 50%;

    &:first-of-type {
        display: flex;
        place-content: center;
        place-items: center;

        h1, p, a {
            color: white;
        }

        a {
            outline-color: white;
        }

        span {
            display: inline-block;
            width: 100%;
            text-align: center;
            img {
                image-rendering: optimizeSpeed;
            }
        }

        position: relative;
        z-index: 5;
        &::before {
            content: ' ';
            top: -5rem;
            left: -2rem;
            position: absolute;
            background-color: #ea580c;
            width: 110%;
            height: 200vh;
            transform: rotate(-8deg);
            z-index: -1;
            box-shadow: 0 0 2em black;
        }
    }

    &:last-of-type  {
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        background-color: white;
    }

    [class*='image-container'] {
        display: flex;
        align-items: center;
        &::before {
            content: 'Venha conhecer o melhor ERP do mercado para o seu varejo.';
            width: 0rem;
            height: 5rem;
            color: black;
            overflow: hidden;
            transition: width 0.5s;
        }
    }

    @media screen and (max-width: $desktopUp) {
        &:first-of-type {
            display: none;
        }

        &:last-of-type {
            width: 100%;
            flex-direction: row-reverse;
            background-color: rgba(255, 166, 0, 0.05);
            [class*='image-container'] {
                width: 20rem;
                &:hover {
                    &::before {
                        width: 15rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $tabletUp) {
        &:last-of-type {
            flex-direction: column;
            [class*='image-container'] {
                width: auto;
                &:hover {
                    &::before {
                        width: 0;
                    }
                }
            }
        }

    }
}

.form {
    max-width: 400px;
    width: 100%;
    margin-top: 2rem;
}
